/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 1.25rem;
  color: #333;
}

a,
a:visited,
a:active,
a:focus {
  color: #555;
  background-color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:focus {
  color: #555;
}

a:hover {
  color: #000;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}

p{
  line-height: 1.8;
  text-align: justify;
}

.container {
  margin: auto;
  max-width: 1400px;
  width:100%;
  overflow: hidden;
  padding: 10px 10px;
}

.text-center {
    text-align: center!important;
}

/* Nav */

.logo {
  background-color:white;
  
  color: #000;
  font-size: 1.8rem; /*28.8px; */
  letter-spacing: 1px;
}

.navigation a {
  float: left;
  padding: 10px;
}

.navbarul {
  float: right;
  list-style: none;
  margin: 10px;
}

.navbarul li {
  line-height:30px;
  float: left;
}

.navbarul li a {
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

 .nvaicon{
  display: none;
}

.nav-item {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 400;
  letter-spacing: 2px;
  color: #009688;
}

.nav-item .fa-shopping-cart {
	color: #009688;
	font-size: 1.5rem;
}



/*snipcart*/
.snipcart-summary {
	font-size: 0.9rem;
}

#snipcart-header {
  background: #009688;
}

#snipcart-main-container a {
  color: #009688;
}

#snipcart-footer {
  display: none;
}

#snipcart-main-container a.snipcart-next,
#snipcart-main-container a.snipcart-finalize,
#snipcart-main-container a.snipcart-mainaction {
  background: #009688;
	color: white;
  border: none;
  text-shadow: none;
}

/* header */

header {
  background-image: url("../images/plants.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 376px;
  max-width: 100%;
  position: relative;
}

.header-link {
  display: inline-block;
  background-color: white;
	border-radius: 25px;
  margin-top: 15px;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.header-link:hover {
  background-color: #eee;
}


.article {
  padding-top: 120px;
}

.article span h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
      font-size: 2.5rem;
      line-height: 1.2;
  color: white;
}

.article a{
    border-radius: 25px;
    margin-top: 15px; 
    background-color: white;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;  
}

/*Shop*/

#shop{
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.row{
    margin: 0 auto;
    width: 1140px;
}

.card{
    margin: 0 auto; 
    float: left;
    max-width: 360px;
    max-height: 420px;
    width: 100%;
    height: 100%;
}

.card a img{
  width: 100%;
  height: 350px;
  display: block;
  
  max-width: 350px;
  
}

.price{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 300;
	letter-spacing: 2px;
  margin-top: 5px;
}


/*about*/

.post-page {
	margin-bottom: 20px;
}

.page-content{
  max-width: 610px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.page-content img{
  width: 100%;
	object-fit: cover;
}


/*Form*/

.page-content input, textarea 
{
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    font-size: 1rem;
}

.page-content input:focus, textarea:focus {
  border-color: #777;
  outline: none;
}

.page-content button {
  color: #777;
	font-size: 0.9rem;
	background: #fff;
  padding: 10px 15px;
	width: 100%;
  border: solid #ccc 2px;
	transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/*Plant*/

.plantBox{
  
  max-width: 1140px;
  height: 380px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.plant-img{
 float : left;
 width:50%;
 margin: 0 auto;
 text-align: center;
}

.plant-img img{
  
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.plant-content{
  text-align: center;
  width: 50%;
  float : left;
  margin: 0 auto;
  padding: 15px;
  
}

.plant-content p{
  max-width: 450px;
  margin: auto;
}

.plant-cart{
  display: block;
  padding: 20px 20px;
}

.plant-cart-link{
    border-radius: 25px;
    margin-top: 15px; 
    background-color:  #009688;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;  
    color: white;
}

.plant-cart-link:visited{
    color: white;
}

.plant-cart-link:active{
    color: white;
}

.plant-cart-link:hover{
    color: white;
    background-color:  #018275;
}

/*footer*/
footer{
  display: block;
  position: relative;
  max-width: 1100px;
  height: 181px;
  margin: auto;
}

.footer-container{
  border-top: 1px solid #eee;
  position: absolute;
  margin-top:50px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px; 
  padding-top: 50px;
  text-align: center;
}

.footer-container a{
  margin: 0px 15px;
}